table{width: 500px;height: 500px;background-color: rgb(175, 232, 255);border-style: solid;border-width: 3px;border-collapse: collapse;}
th{width: 50px;border-style: solid;border-width: 1px;}
.t{background-color: deepskyblue;border-width: 1px;}
